<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/project/join.css">
</head>
<body>
<div class="container-3">
    <div class="logo">
        <div class="wall-clock-8336431">
        </div>
        <div class="time-venture">
            Time Venture
        </div>
    </div>
    <div class="join">
        <div class="container-1">
            가입하기
        </div>
        <div class="google-box" id="google-box">
            <div class="container">
                <div class="search-2817641">
                </div>
            </div>
            <div class="google">
                google 업무용 계정으로 가입하세요
            </div>
        </div>
        <div class="or">
            <div class="line-3">
            </div>
            <span class="container-6">
        또는
      </span>
            <div class="line-4">
            </div>
        </div>
        <input type="email" id="email-input" name="email" class="email-box" required>
        <div class="join-button" id="join-button">
          <span class="container-2">
            가입하기
          </span>
        </div>
        <p class="asana">
            <span class="asana-sub-5">본인은 가입함으로써 TimeVenture 개인 정보 보호 정책 및 서비스 약관에 동의합니다.</span>
            <span></span>
        </p>
    </div>
</div>
</body>
<script>
    document.getElementById('join-button').addEventListener('click', function() {
        // 여기에 버튼을 클릭했을 때 수행할 동작을 작성합니다.
        // 예를 들어, 가입 페이지로 이동하는 코드를 추가할 수 있습니다.
        window.location.href = '가입 페이지 URL';
    });

    document.getElementById('google-box').addEventListener('click', function() {
            // Google 로그인 페이지로 이동합니다.
            window.location.href = 'https://accounts.google.com/signin';
            // 또는 OAuth 프로토콜을 사용하여 구글 API를 호출할 수 있습니다.
            // 구글 API를 사용하여 추가적인 작업을 수행할 수도 있습니다.
        });
</script>
</html>