<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/project/login.css}">
</head>
<body>
<div class="container-5">
    <div class="logo">
        <div class="wall-clock-8336431">
        </div>
        <div class="time-venture-1">
            Time Venture
        </div>
    </div>
    <div class="login">
        <div class="time-venture">
            Time Venture에 오신것을 환영합니다!
        </div>
        <div class="container">
            시작하려면 로그인하세요
        </div>
        <div class="google-1">
            <div class="search-2817641">
            </div>
            <div class="google" id="google-login">
                google로 계속
            </div>
        </div>
        <div class="or">
            <div class="line-3">
            </div>
            <span class="container-1">
                또는
            </span>
            <div class="line-4">
            </div>
        </div>
        <div class="email">
            <div class="container-2">
                이메일 주소
            </div>
            <input type="email" id="email-input" name="email" class="rectangle-11" required>
        </div>
        <div class="button" id="continue-button">
            <span class="container-3">계속</span>
        </div>
        <p class="container-4">
            <span class="container-4-sub-9">계정이 없으신가요? </span><a href="join.html">가입</a>
        </p>
    </div>
</div>

</body>
<script>
document.getElementById('google-login').addEventListener('click', function() {
// 여기에 버튼을 클릭했을 때 수행할 동작을 작성합니다.
// 예를 들어, 로그인 페이지로 이동하는 코드를 추가할 수 있습니다.
window.location.href = '로그인 페이지 URL';
});

    document.addEventListener('DOMContentLoaded', function() {
    // 계속 버튼을 가져옵니다.
    var continueButton = document.getElementById('continue-button');

    // 계속 버튼에 클릭 이벤트를 추가합니다.
    continueButton.addEventListener('click', function() {
        // 버튼이 클릭되었을 때 실행될 동작을 정의합니다.
        // 여기에 버튼을 클릭했을 때 수행할 동작을 작성합니다.
        // 예를 들어, 다음 페이지로 이동하는 코드를 추가할 수 있습니다.
        window.location.href = '다음 페이지 URL';
    });
});
</script>

</html>