<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 생성</title>
</head>
<body>
    <div th:replace="~{/common/header :: header}"></div>
    <div class="container">
        <div class="logo">asana</div>
        <div class="content">
            <h1>첫 번째 프로젝트를 설정하겠습니다</h1>
            <p>회원님과 팀이 현재 수행하는 업무는 무엇인가요?</p>
            <input type="text" placeholder="예: 교차 기능팀 프로젝트 계획">
            <button>계속</button>
        </div>
    </div>
</body>
</html>