<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeVenture</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="icon" href="/image/common/logo.png">
    <link rel="stylesheet" th:href="@{/css/common/index.css}">
    <link rel="stylesheet" th:href="@{/css/member/loginSendEmail.css}">
</head>
<body>
<div th:replace="~{common/header :: header}"></div>
<div class="project_invite-container">
    <div class="project_invite-form">
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
        <h2>팀원을 초대하여 TimeVenture 함께 사용해 보세요.</h2>
        <p>신뢰할 수 있는 팀원을 초대하여 TimeVenture를 함께 사용하는 방법을 배워보세요.</p>
        <input class="project_invite-input" type="email" placeholder="팀원 이메일">
        <input class="project_invite-input" type="email" placeholder="팀원 이메일">
        <input class="project_invite-input" type="email" placeholder="팀원 이메일">
        <input class="project_invite-input" type="email" placeholder="팀원 이메일">
        <button class="project_invite-continue-button" onclick="continueInvite()">계속</button>
    </div>
</div>

<script>
    function continueInvite() {
        // 페이지 이동을 처리하는 JavaScript 코드
        window.location.href = "/loginFinish";
    }
</script>
</body>
</html>