<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common/top.css}">
    <link rel="stylesheet" th:href="@{/css/common/side.css}">
    <link rel="stylesheet" th:href="@{/css/common/navigation.css}">
    <link rel="stylesheet" th:href="@{/css/outline/outline.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
          integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <style>@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');</style>
    <title>Title</title>
</head>
<body>
<div th:replace="~{/common/top :: top}"></div>
<div th:replace="~{/common/side :: side}"></div>
<div th:replace="~{/common/navigation :: navigation}"></div>
<div class="outline-frame-main">
    <div class="outline-group-project-explain">
        <div class="outline-text-project-explain">
            프로젝트 설명
        </div>
        <div class="container-6">
      <span class="outline-text-project-main">
        시간과 업무를 효율적으로 관리하기 위한 협업툴 TimeVenture 제작 😊
      </span>
        </div>
    </div>
    <div class="outline-group-part">
        <div class="outline-text-part">
            프로젝트 역할
        </div>
        <!-- 프로젝트 역할 1번째 줄 컨테이너-->
        <div class="outline-container-members">
            <!-- 멤버추가와 팀장 컨테이너 -->
            <div class="container-5">
                <!-- 멤버추가 컨테이너 -->
                <a href="#">
                <div class="outline-group-add-button">
                    <div class="outline-image-plus" th:style="'background-image: url(' + @{/image/projectStart/icon-addPlus.png} + ')'"></div>
                    <span class="outline-text-member-add">
                        멤버 추가
                    </span>
                </div>
                </a>
                <!-- 팀장 프로필 컨테이너 -->
                <div class="outline-group-detail-1">
                    <!-- 팀장 프로필 이미지 -->
                    <div class="outline-image-profile-1" th:style="'background-image: url(' + @{/image/projectStart/profile1.png} + ')'"></div>
                    <div class="container-2">
                        <span class="outline-text-name-1">
                            민선
                        </span>
                        <span class="outline-text-master-1">
                            프로젝트 소유자
                        </span>
                    </div>
                </div>
            </div>
            <div class="container-7">
                <div class="outline-group-detail-2">
                    <div class="outline-image-profile-2" th:style="'background-image: url(' + @{/image/projectStart/profile2.png} + ')'"></div>
                    <div class="container">
                        <span class="outline-text-name-2">
                            연남
                        </span>
                        <a href="#">
                        <div class="outline-group-add-button-2">
                            <div class="outline-icon-plus-2" th:style="'background-image: url(' + @{/image/projectStart/icon-plus.svg} + ')'"></div>
                            <span class="outline-text-add-2">
                                역할 추가
                            </span>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="outline-group-detail-3">
                    <div class="outline-image-profile-3" th:style="'background-image: url(' + @{/image/projectStart/profile3.png} + ')'"></div>
                    <div class="container-3">
                        <span class="outline-text-name-3">
                            별
                        </span>
                        <a href="#">
                        <div class="outline-group-add-button-3">
                            <div class="outline-icon-plus-3" th:style="'background-image: url(' + @{/image/projectStart/icon-plus.svg} + ')'"></div>
                            <span class="outline-text-add-3">
                                역할 추가
                            </span>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="outline-group-detail-4">
                    <div class="outline-image-profile-4" th:style="'background-image: url(' + @{/image/projectStart/profile4.png} + ')'"></div>
                    <div class="container-4">
                        <span class="outline-text-name-5">
                            성욱
                        </span>
                        <a href="#">
                        <div class="outline-group-add-button-4">
                            <div class="outline-icon-plus-4" th:style="'background-image: url(' + @{/image/projectStart/icon-plus.svg} + ')'"></div>
                            <span class="outline-text-add-4">
                                역할 추가
                            </span>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="outline-group-detail-5">
                    <div class="outline-image-profile-5" th:style="'background-image: url(' + @{/image/projectStart/profile5.png} + ')'"></div>
                    <div class="container-1">
                        <span class="outline-text-name-5">
                            준영
                        </span>
                        <a href="#">
                        <div class="outline-group-add-button-5">
                            <div class="outline-icon-plus-5" th:style="'background-image: url(' + @{/image/projectStart/icon-plus.svg} + ')'"></div>
                            <span class="outline-text-add-5">
                                역할 추가
                            </span>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>