<div class="dashboard-container">
    <!-- 첫 번째 그룹 -->
    <div class="dashboard-group">
        <div class="dashboard-box dashboard-completedwork">
            <p class="dashboard-title dashboard-completedwork-title">완료된 작업</p>
            <p class="dashboard-count dashboard-completedwork-count">0</p>
        </div>
        <div class="dashboard-box dashboard-uncompletedwork">
            <p class="dashboard-title dashboard-uncompletedwork-title">미완료 작업</p>
            <p class="dashboard-count dashboard-uncompletedwork-count">0</p>
        </div>
        <div class="dashboard-box dashboard-deadwork">
            <p class="dashboard-title dashboard-deadwork-title">마감일이 지난 작업</p>
            <p class="dashboard-count dashboard-deadwork-count">0</p>
        </div>
        <div class="dashboard-box dashboard-totalwork">
            <p class="dashboard-title dashboard-totalwork-title">총 작업</p>
            <p class="dashboard-count dashboard-totalwork-count">0</p>
        </div>
    </div>

    <!-- 두 번째 그룹 -->
    <div class="dashboard-group">
        <div class="dashboard-box dashboard-uncompleted-view">
            <p class="dashboard-title dashboard-uncompleted-view-title">미완료 작업(섹션별)</p>
            <img src="dashboard-uncompleted-view-graph.png" class="dashboard-graph dashboard-uncompleted-view-graph" />
        </div>
        <div class="dashboard-box dashboard-total-view">
            <p class="dashboard-title dashboard-total-view-title">총 작업 수(완료 상태별)</p>
            <img src="dashboard-total-view-graph.png" class="dashboard-graph dashboard-total-view-graph" />
        </div>
    </div>
</div>
